.block5 {
  background-image: url("../img/fone5.jpg");
  background-size: cover;
  height: 81.1111111111vw;
}
.block5 #ourteam {
  padding-top: 2.2222222222vw;
}
.block5 .cards1 {
  margin-top: 4.1666666667vw;
}
.block5 .cards2 {
  margin-top: 2.5vw;
}
.block5 .cards2 .card:nth-child(2) {
  margin-left: 1.6666666667vw;
}
.block5 .card {
  background: #413B54;
  border-radius: 1.6666666667vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.3888888889vw 1.1111111111vw;
  line-height: 125%;
}
.block5 .card img {
  width: 22.7777777778vw;
  height: 24.5138888889vw;
  border-radius: 1.8055555556vw;
}
.block5 .card .text1 {
  font-size: 1.3888888889vw;
  margin-top: 16px;
}
.block5 .card .text2 {
  margin-top: 4px;
  font-weight: 600;
  font-size: 1.6666666667vw;
}