.block4 {
  background-image: url("../img/fone4.jpg");
  background-size: cover;
  height: 119.3055555556vw;
}
.block4 #roadMap {
  padding-top: 2.5vw;
  position: absolute;
}
.block4 .box {
  background: #413B54;
  border-radius: 1.8055555556vw;
  padding: 2.5vw 3.0555555556vw;
  width: 30.4166666667vw;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6666666667vw;
  font-height: 125%;
}
.block4 .box1 {
  left: 10.9722222222vw;
  margin-top: 13.5416666667vw;
}
.block4 .box2 {
  left: 57.6388888889vw;
  margin-top: 24.2361111111vw;
}
.block4 .box3 {
  left: 10.9722222222vw;
  margin-top: 41.8055555556vw;
}
.block4 .box4 {
  left: 57.6388888889vw;
  margin-top: 48.0555555556vw;
}
.block4 .box5 {
  left: 10.9722222222vw;
  margin-top: 78.75vw;
}
.block4 .box6 {
  left: 57.6388888889vw;
  margin-top: 100.9027777778vw;
}