.block7 {
  background-image: url("../img/fone7.jpg");
  background-size: cover;
  height: 64.5833333333vw;
  -webkit-transition: 2s;
  transition: 2s;
}
.block7 .text {
  text-align: center;
  padding-top: 29.7916666667vw;
  font-weight: 600;
  font-size: 4.5833333333vw;
}
.block7 .end {
  margin-top: 25.3472222222vw;
  font-weight: 600;
  font-size: 1.9444444444vw;
}